<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Filmes</title>
</head>
<body>
    <header>
        <h1>Catálogo de Filmes</h1>
    </header>

    <main>
        <h2>Bem-vindo!</h2>
        <p>Acesse o catálogo completo, remova ou adicione novos filmes.</p>

        <nav>
            <ul>
                <li><a href="/filmes">Ver Filmes</a></li>
                <li><a href="/editar">Adicionar Filme</a></li>
                
            </ul>
        </nav>
    </main>
</body>
</html>