<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>

    <h1>Lista de Filmes</h1>

<a href="/adicionar">Adicionar Novo</a>
<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>Foto</th>
        <th>Título</th>
        <th>Ano</th>
   
    </tr>

    {% for filme in filmes %}
    <tr>
        <td>
            {% if filme.foto_base64 %}
                <img src="{{ filme.foto_base64 }}" width="120">
            {% else %}
                Sem imagem
            {% endif %}
        </td>

        <td>{{ filme.titulo }}</td>
        <td>{{ filme.ano }}</td>

    </tr>
    {% endfor %}
</table>

    {% extends "base.html" %}
{% block title %}Lista de Filmes{% endblock %}
{% block content %}
<h1>Lista de Filmes</h1>

{% if filmes %}
  <ul>
    {% for filme in filmes %}
      <li>
        <strong>{{ filme.titulo }}</strong> ({{ filme.ano }}) - {{ filme.descricao or '' }}
        {% if filme.foto %}
          <br>
          <img src="{{ url_for('static', filename=filme.foto) }}" alt="{{ filme.titulo }}" style="max-width:120px; max-height:120px;">
        {% endif %}
        <br>
        <a href="{{ url_for('views.editar_form', id=filme.id) }}"><button type="button">Editar</button></a>

        <a href="{{ url_for('views.apagar_confirmar', id=filme.id) }}">
    <button type="button">Apagar</button>
</a>

      </li>
      <hr>
    {% endfor %}
  </ul>
{% else %}
  <p>Nenhum filme cadastrado.</p>
{% endif %}

{% endblock %}

</body>
</html>